<app-header></app-header>
<app-form-label title="Reset Password Form"></app-form-label>
<form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
    <div>
        <label for="email">Email</label>
        <span class="field">{{email}}</span>
    </div>

    <div>
        <label for="password">Password</label>
        <input class="field" type="password" id="password" name="password" placeholder="your password" minlength=8 required [(ngModel)]="password" #_password="ngModel">
        <div class="info" *ngIf="_password.invalid && (_password.dirty || _password.touched)">
            Password is required
        </div>
    </div>

    <div>
        <label for="password">Confirm Password</label>
        <input class="field" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm your password" minlength=8 required [(ngModel)]="confirmPassword" #_confirmPassword="ngModel">
        <div class="info" *ngIf="(_password.value!==_confirmPassword.value) && (_confirmPassword.dirty || _confirmPassword.touched)">
            Passwords do not match
        </div>
    </div>

    <input type="submit" value="Submit" [disabled]="!resetPasswordForm.form.valid">
</form>
